.holiday-detail-container {
    padding: 20px;
    background-color: #fff;
  }
  
  .holiday-detail-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .holiday-detail-date,
  .holiday-detail-description {
    font-size: 16px;
    margin-top: 5px;
  }
  